{% extends "layout.html" %}

{% block title %}
   Profile
{% endblock %}

{% block content %}
<div class="card" style="width: 22rem; margin: 0 auto;">
  <div class="card-body">
    <h5 class="card-title">{{ user.username|title }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.email }}</h6>
    <p class="card-text">
      Member since: {{ user.date_joined|date:"F j, Y" }}<br>
      Last login: {{ user.last_login|date:"F j, Y, g:i a" }}
    </p>
    <a href="{% url 'accounts:logout' %}" class="btn btn-outline-danger">Logout</a>
  </div>
</div>
{% endblock %}
