{% extends "layout/dashboard_base.html" %}

{% block content %}
<main class="app-main">
  <div class="container mt-2 p-2">
    {% include 'dashboard/message.html' %}
   
  </div>

   <div class="d-flex justify-content-between align-items-center mb-3 container">
  
  <div>
    <a href="{% url 'dashboard_create_category' %}" style="color: aliceblue;"><button class="btn btn-primary">Create Category</button></a>
    <a href="{% url 'dashboard_delete_category_view' %}" style="color: aliceblue;"><button class="btn btn-danger">Delete Categories</button></a>
  </div>


  <div>
    {% include "dashboard/categoryfilterform.html" %}
  </div>

</div>
  
 

   <div class="card mb-4 container mt-2 p-2">
    
                  <div class="card-header">
                    <h3 class="card-title">Blogs</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Title</th>
                          <th>content</th>
                          <th>category</th>
                          <th>created_at</th>
                          <th>updated_at</th>
                          <th>author_id</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for blog in blogs %}
                        <tr class="align-middle">
                          <td>{{blog.id}}</td>
                          <td>{{blog.title}}</td>
                          <td>
                            {{blog.content|truncatechars:50}}
                          </td>
                          <td>{{blog.category | default:""}}</td>
                          <td>{{blog.created_at}}</td>
                          <td>{{blog.updated_at}}</td>
                          <td>{{blog.author_id}}</td>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                  {% if categoryCount > 6 %}
                    <div class="container position-fixed bottom-0 start-50 translate-middle-y mb-4">
                      {% include 'dashboard/pagination.html' %}
                    </div>
                  {% endif %}


</main>
{% endblock content %}
