{% extends "layout/dashboard_base.html" %}

{% block content %}
<main class="app-main">
  <div class="card card-primary card-outline mb-4 container mt-2 p-2">

    <div class="card-header">
      <div class="card-title">Add New Category</div>
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="card-body" id="input-container">

        <!-- Category Name -->
        <div class="input mb-3">
          <label class="form-label">Category Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Enter category name"
          />
        </div>

      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Add Category</button>
        <button type="button" class="add btn btn-secondary">Add More</button>
      </div>
    </form>

  </div>

  <script>
    document.querySelector('.add').addEventListener('click', function(e) {
      e.preventDefault();

      const container = document.getElementById('input-container');

      const div = document.createElement('div');
      div.classList.add('input', 'mb-3');


      const label = document.createElement('label');
      label.classList.add('form-label');
      label.textContent = 'Category Name';

      const input = document.createElement('input');
      input.type = 'text';
      input.classList.add('form-control');
      input.name = 'name';
      input.placeholder = 'Enter another category name';


      div.appendChild(label);
      div.appendChild(input);


      container.appendChild(div);
    });
  </script>
</main>
{% endblock content %}
