{% extends "dashboard_base.html" %}

{% block content %}
<main class="app-main">
  <div class="card card-primary card-outline mb-4 container mt-2 p-2">

    <div class="card-header">
      <div class="card-title">Edit Blog</div>
    </div>

    <form method="post">
      {% csrf_token %}

      {% for field in form %}
        {% if field.errors %}
          <div class="text-danger mb-1">{{ field.errors.0 }}</div>
        {% endif %}
      {% endfor %}

      <div class="card-body">
        <div class="mb-3">
          <label for="id_title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="id_title"
            value="{{ form.title.value | default:post.title }}"
            placeholder="Enter post title"
          />
        </div>

        <div class="mb-3">
          <label for="id_content" class="form-label">Content</label>
          <textarea
            class="form-control"
            name="content"
            id="id_content"
            rows="5"
            placeholder="Write your post content here..."
          >{{ form.content.value|default:post.content }}</textarea>
        </div>
        <div class="mb-3">
          <label for="id_category" class="form-label">Category</label>
          <select class="form-select" name="category" id="id_category">
            {% for value, label in form.fields.category.choices %}
              <option value="{{ value }}"
                {% if value|stringformat:"s" == form.category.value|stringformat:"s" %}selected{% endif %}
              >{{ label }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <label for="id_author" class="form-label">Author</label>
          <select class="form-select" name="author" id="id_author">
            {% for user in form.fields.author.queryset %}
              <option value="{{ user.id }}"
                {% if user.id|stringformat:"s" == form.author.value|stringformat:"s" %}selected{% endif %}
              >{{ user.username }}</option>
            {% endfor %}
          </select>
        </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </div>
</main>
{% endblock content %}
