{% extends "dashboard_base.html" %}

{% block content %}
<main class="app-main">
  {% include 'dashboard/message.html' %}
  <div class="card card-primary card-outline mb-4 container mt-2 p-2">

    <!--begin::Header-->
    <div class="card-header">
      <div class="card-title">User Form</div>
    </div>
    <!--end::Header-->

    <!--begin::Form-->
    <form method="post">
      {% csrf_token %}

      <div class="card-body">

        <div class="mb-3">
          <label for="id_username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="id_username"
            value="{{ form.username.value|default:'' }}"
          />
          {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors.0 }}</div>
          {% endif %}
        </div>

        <div class="mb-3">
          <label for="id_email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="id_email"
            value="{{ form.email.value|default:'' }}"
          />
          {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors.0 }}</div>
          {% endif %}
        </div>

        <div class="mb-3">
          <label for="id_password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="id_password"
          />
          {% if form.password.errors %}
            <div class="text-danger">{{ form.password.errors.0 }}</div>
          {% endif %}

        </div>

        <div class="mb-3">
          <label for="id_confirmPassword" class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            id="id_confirmPassword"
          />
          {% if form.confirmPassword.errors %}
            <div class="text-danger">{{ form.confirmPassword.errors.0 }}</div>
          {% endif %}
        </div>

      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <!--end::Form-->

  </div>
</main>
{% endblock content %}
